doctype

include mixins.jade

html
    head
        meta(charset="utf-8")
        title= self.api.name || '灵析 API'
        //- 这里因为项目引入过，就不再重复
        //- link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
        style!= self.css
    body.preload
        a.text-muted.back-to-top(href='#top')
            i.fa.fa-toggle-up
            | &nbsp;
        div(class=self.fullWidth ? 'container-fluid' : 'container')
            .row
                block nav
                    +Nav(false)

                .content
                    block content
                        +Content('primary', false)
                    .ds-thread(data-thread-key='DUOSHUO_KEY', data-title='DUOSHUO_DATA_TITLE', data-url='DUOSHUO_DATA_URL')

        script: include scripts.js
        script.
          var duoshuoQuery = {short_name:"lingxiopen"};
          (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';
          ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
          || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();

        //- for preview
        if self.livePreview
            script(src="/socket.io/socket.io.js")
            script.
                var socket = io();
                socket.on('refresh', refresh);
                socket.on('reconnect', function () {
                    socket.emit('request-refresh');
                });
