@import "_variable.less";
@import "_global.less";
@import "_duoshuo.less";

table {
  width: 100%;
}

#筹款支付表单 {
  table {
    thead {
      tr {
        th {
          &:nth-child(1) {
            width: 8%
          }
          &:nth-child(2) {
            width: 12%
          }
        }
      }
    }
  }
}

.action-heading + table {
  thead {
    tr {
      th {
        width: 10%;
        &:last-child {
          width: 80%
        }
      }
    }
  }
}
