@media (min-width: 768px) {
  .container {
    width: 750px;
    max-width: none;
  }
}

@media (min-width:  992px) {
  .container {
    width: 970px;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: none;
  }
}

.container .row .content {
  padding-left: 40px;
  border-left: 1px solid @greyLighter;
}

// 多说评论
#ds-thread {
  margin-top: 100px;
}

#ds-thread #ds-reset .ds-powered-by,
#ds-thread #ds-reset .ds-meta {
  display: none;
}

#ds-thread #ds-reset li.ds-tab a.ds-current {
  border: none !important;
}

#ds-thread #ds-reset .ds-sort a.ds-current,
#ds-thread #ds-reset .ds-sort a:active,
#ds-reset span.ds-highlight,
#ds-reset .ds-comments-tab-duoshuo .ds-highlight {
  color: @primary !important;
}

#ds-thread #ds-reset li.ds-tab a {
  padding: 5px 10px !important;
}

// 字体颜色
#ds-thread #ds-reset a {
  color: @greyDark !important;

  &:hover {
    color: @greyDark !important;
  }
}

#ds-thread #ds-reset li.ds-tab a:hover,
#ds-thread #ds-reset .ds-sort a:hover {
  &:hover {
    color: @greyDark !important;
  }
}

.ds-post-likes {
  display: none;
}

#ds-reset .ds-avatar img {
  border-radius: 50% !important;
  width: 64px;
  height: 64px;
  box-shadow: none !important;
}

#ds-thread #ds-reset .ds-comment-body {
  padding-left: 68px !important;
}

#ds-thread #ds-reset .ds-replybox {
  padding-left: 0 !important;
}

#ds-thread #ds-reset .ds-login-buttons li.ds-more-services {
  color: @primary !important;
}

#ds-thread #ds-reset .ds-login-buttons .ds-service-list li {
  &:nth-child(3n) {
    display: none;
  }
  &:nth-child(4n) {
    display: none;
  }
  &:nth-child(5n) {
    display: none;
  }
}

#ds-thread #ds-reset .ds-comment-actions a .ds-icon,
#ds-thread #ds-reset .ds-comment-actions a .ds-icon {
  display: none;
}

#ds-thread #ds-reset .ds-comment-body p {
  color: @greyDarker !important;
}

#ds-thread #ds-reset .ds-comment-actions a {
  margin-left: 20px !important;
}

#ds-thread #ds-reset .ds-comment-footer a {
  padding: 0 !important;
}

#ds-thread #ds-reset .ds-post-self {
  padding-top: 26px !important;
  padding-bottom: 20px !important;
}

#ds-thread #ds-reset #ds-bubble {
  border-color: @greyLighter !important;
}

#ds-thread #ds-reset .ds-toolbar {
  padding: 18px 0 18px !important;
}

#ds-thread #ds-reset .ds-replybox {
  margin-top: 0 !important;
}

#ds-thread #ds-reset .ds-textarea-wrapper {
  border-color: @greyLighter !important;
  background-position-y: -9999px !important;
}

#ds-thread #ds-reset .ds-textarea-wrapper textarea {
  color: @grey !important;
}

#ds-thread #ds-reset .ds-post-options {
  background: #F3F3F3 !important;
  border: none;
  border-bottom: 1px solid @greyLighter !important;
  border-top: 1px solid @greyLighter !important;
  border-left-color: @greyLighter !important;
}

#ds-thread #ds-reset .ds-sync {
  display: none;
}

#ds-thread #ds-reset .ds-post-toolbar {
  box-shadow: none !important;
}

#ds-thread #ds-reset .ds-post-button {
  transition: none;
  color: @greyDarker !important;
  background: #E1E1E1 !important;
  border: none !important;
  border-bottom: 1px solid #E1E1E1 !important;
}

#ds-thread #ds-reset .ds-toolbar-button {
  opacity: 0.5 !important;
}

#ds-thread #ds-reset .ds-add-emote:hover {
  background-position: 0px -12px !important;
}
